* {
    font-family: "Parkinsans", sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

/* Header */
.header {
    background-color: #f0f0f0;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7vh;
}

.header img {
    height: 100%;
    width: auto;
}

.header .search-bar {
    width: 92% !important;
    margin-bottom: 0 !important;
}

.header .user-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header .icon {
    font-size: 3vh;
    cursor: pointer;
    transition: 225ms ease;
}

.header .icon:hover {
    color: #2a2cfe;
}

/* Side */
.side {
    background-color: #f0f0f0;
    padding: 1rem;
    height: 100vh;
    width: min-content;
    min-width: 15vw;
}

.side-logo {
    width: 90%;
}

.side-links {
    background-color: #ffffff;
    padding: 0.7rem;
    margin-top: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 225ms ease;
}

.side-links:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.side-links span {
    display: block;
}

.side-links span.h {
    background-image: linear-gradient(to right, #d1d1d1 0%, #d1d1d1 100%);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: left calc(100% - 0.15rem);
    margin-bottom: 0.2rem;
}

/* Content */
.content {
    padding: 0.6rem 1.6rem;
    width: 100%;
    height: 100vh;
}

/* MSplit */
.msplit {
    display: flex;
    width: 100%;
    height: 100%;
}

/* Links */
a:link,
a:visited {
    color: #2a2cfe;
    text-decoration: none;
    position: relative;
    transition: color 225ms ease;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: rgb(0, 111, 230);
    transform: scaleX(0);
    transform-origin: left;
    transition: 225ms ease;
}

a:hover {
    color: rgb(0, 111, 230) !important;
}

a:hover::after {
    transform: scaleX(1);
}

/* Inputs */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 1rem;
    outline: none;
    margin-bottom: 1rem;
    transition: 225ms ease;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="number"]:hover,
textarea:hover {
    border-color: #2a2cfe;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
    border-color: #2a2cfe;
    box-shadow: 0 0 5px rgba(42, 44, 254, 0.5);
}

input[type="submit"] {
    background-color: #2a2cfe;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: 225ms ease;
}

input[type="submit"]:hover {
    background-color: #575afd;
}

/* In Content */
.page_title {
    font-size: 2rem;
    margin-bottom: 0.8rem;

    background-image: linear-gradient(
        to right,
        rgba(42, 44, 254, 0.5) 0%,
        rgba(42, 44, 254, 0.5) 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 4px;
    background-position: left 100%;
}

.titlebar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.group {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.titlebar span.element {
    color: #2a2cfe;
    cursor: pointer;
}

.titlebar span.element:not(.active):hover {
    background-image: linear-gradient(to right, #d1d1d1 0%, #d1d1d1 100%);
    background-repeat: no-repeat;
    background-size: 100% 3px;
    background-position: left 100%;
}

.titlebar span.active {
    background-image: linear-gradient(
        to right,
        rgba(42, 44, 254, 0.5) 0%,
        rgba(42, 44, 254, 0.5) 100%
    );
    background-repeat: no-repeat;
    background-size: 100% 3px;
    background-position: left 100%;
}
